
@keyframes slideLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}